body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* Container
=================== */
.container {
  width: 980px;
  margin: 0 auto;
}
.border-right {
  border-right: 1px solid gray;
}
/* Header
===================*/
.header {
  display: flex;
  justify-content: space-between;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  text-decoration: none;
  margin-left: 45px;
}
